streamlit
langchain
langchain-community
langchain-groq
chromadb==1.5.9
sentence-transformers
pypdf
python-dotenv
tiktoken
tenacity
fpdf2
pytesseract
pillow
pymupdf
requests
streamlit-mic-recorder
gtts